.botones{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.boton {
    color: white;
    background-color: #01abcd;
    border-radius: 5%;
    font-size: medium;
    margin: 5%;
    padding: 10px;
    width: 20%;
    border:none;
    cursor: pointer;
  }
.boton:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }