<div *ngIf="showLoading" class="page-overlay-wrapper">
    <div class="loading">
        <div class="loadingio-spinner-blocks-lq0a5h1bw7q"><div class="ldio-fqbg0b1infs">
            <div style='left:38px;top:38px;animation-delay:0s'></div><div style='left:80px;top:38px;animation-delay:0.07102272727272728s'></div><div style='left:122px;top:38px;animation-delay:0.14204545454545456s'></div><div style='left:38px;top:80px;animation-delay:0.4971590909090909s'></div><div style='left:122px;top:80px;animation-delay:0.21306818181818182s'></div><div style='left:38px;top:122px;animation-delay:0.42613636363636365s'></div><div style='left:80px;top:122px;animation-delay:0.35511363636363635s'></div><div style='left:122px;top:122px;animation-delay:0.2840909090909091s'></div>
            </div></div>
            <style type="text/css">
            @keyframes ldio-fqbg0b1infs {
              0% { background: #0167cd }
              12.5% { background: #0167cd }
              12.625% { background: #01abcd }
              100% { background: #01abcd }
            }
            .ldio-fqbg0b1infs div {
              position: absolute;
              width: 40px;
              height: 40px;
              background: #01abcd;
              animation: ldio-fqbg0b1infs 0.5681818181818182s linear infinite;
            }
            .loadingio-spinner-blocks-lq0a5h1bw7q {
              width: 200px;
              height: 200px;
              display: inline-block;
              overflow: hidden;
              background: none;
            }
            .ldio-fqbg0b1infs {
              width: 100%;
              height: 100%;
              position: relative;
              transform: translateZ(0) scale(1);
              backface-visibility: hidden;
              transform-origin: 0 0;
            }
            .ldio-fqbg0b1infs div { box-sizing: content-box; }
            /* Loading generado con https://loading.io/ */
            </style>
    </div>
</div>
