.container {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.tituloEnv {
  padding: 5px;
  width: 22rem;
  background-color: #01abcd;
  color: white;
  font-size: 26px;
  font-weight: 100;
}
.deliverysPend {
  font-variant: small-caps;
}
.deliverysPend p:nth-last-child(1n) {
  margin: 20px 10px;
  color: #0048a1;
}
table {
  width: 100%;
}
.mat-elevation-z8 {
  margin: 10px 0px;
}
.inputAlm {
  border: solid #01abcd 1px;
}
.settingsIcon{
  cursor: pointer;
}
.settingsIcon:hover{
  transform: rotate(180deg);
  transition: all 0.6s;
}
.inputCaja {
  border: solid #01abcd 1px;
  outline: none;
  text-align: center;
  color: #01abcd;
}
th.mat-header-cell,
td.mat-cell {
  text-align: center;
}
.buttonLoginContainer {
  display: flex;
  justify-content: center;
}
.buttonLogin {
  background-color: #01abcd;
  color: white;
  margin: 15px;
  padding: 3px 35px;
  font-weight: 500;
  transition: all 0.3s;
}
.qrtool {
  position: fixed;
  z-index: 100;
  left: 20px;
  bottom: 20px;
}
.botonQr {
  background-color: #01abcd;
}
.noSerieInput {
  margin-right: 20px;
}
.sinSerie {
  height: 25rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center div {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center p {
  font-size: 24px;
  color: #0048a1;
}

.center img {
  width: 150px;
  height: auto;
  margin: 10px;
}
@media (max-width: 350px) {
  .tituloEnv {
    width: 13rem;
  }
}
