<form class="form" 
autocomplete="off"
[formGroup]="loginForm"
(ngSubmit)="changePassword()">

    <mat-form-field  class="input" appearance="fill">
        <mat-label >Ingrese la contraseña</mat-label>
        <input matInput placeholder=""
        type="password"  
        formControlName="newPassword"
        required>
        <mat-error *ngIf="invalidPassword('newPassword')">{{invalidPassword('newPassword')}}</mat-error>
        <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <mat-form-field  class="input" appearance="fill">
            <mat-label >Ingrese la contraseña nuevamente</mat-label>
            <input matInput placeholder=""
            type="password"  
            formControlName="newPassword2"
            required>
            <mat-error *ngIf="invalidPassword('newPassword2')">{{invalidPassword('newPassword2')}}</mat-error>
            <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <div class="buttonLoginContainer">
        <button class="buttonLogin"
            mat-raised-button
            [disabled]="loginForm.invalid">
            Aceptar
        </button>
        <button class="buttonLogin"
            mat-raised-button
            routerLink="/logueo"
            >
            Cancelar
        </button>
    </div>
</form>
          