<div class="container">
    <div class="navBar"></div>
    <div class="body">
        <div class="contenedor">
            <mat-card class="example-card">
                <div class="headerForm">
                    <img mat-card-image src="/assets/VulcanoLogo.png" alt="Siscard S. A.">
                </div>
                <mat-card-content>
                    <div class="example-container">

                        <router-outlet></router-outlet>

                    </div>
                </mat-card-content>
            </mat-card> 
        </div>
    </div>
    <div class="footer"></div>
</div>
